#rb-nav a,
#rb-nav .sub-nav a,
#rb-nav-side a,
#rb-nav-footer a,
#rb-nav-side a { color:#777; display:block; font-weight:bold; padding:1rem; text-decoration:none;
    transition: all 0.3s ease-out 0s;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }


/* NAV */

#rb-nav .sub-nav a.active,
#rb-nav-side a.active,
#rb-nav-footer a.active { background-color:#E5E5E5; color:#777; }

#rb-nav .sub-nav a:hover,
#rb-nav-side a:hover,
#rb-nav-footer a:hover { background-color:#D5D5D5; color:#777; }

#rb-nav .has-sub-menu > a:after,
#rb-nav-side .has-sub-menu > a:after,
#rb-nav-footer .has-sub-menu > a:after { content:" › "; }

#rb-nav { background-color:#369; }
    #rb-nav .nav { display:flex; margin:0 0 0 1rem; padding:0; }
    #rb-nav a { color:#FFF; }
    #rb-nav a.active { background-color:#FFF; color:#369; }

    #rb-nav .logo h1 { position:absolute; left:-2000px; }
    #rb-nav .logo a { background-color:#FFF; padding:0; }
    #rb-nav .logo img { padding:0.56rem 1rem; }

    #rb-nav a:hover { background-color:#036; color:#FFF; }

    #rb-nav .sub-nav { background-color:#F5F5F5; box-shadow:2px 2px 4px #777; position:absolute; z-index:2; }
    #rb-nav .sub-nav-hide { display:none; }

    #rb-nav .sub-nav .link { position:relative; }
    #rb-nav .sub-nav .sub-nav { top:0; }


/* BREADCRUMB*/

#rb-breadcrumb { background-color:#F5F5F5; display:flex; padding-left:1rem; margin-bottom:1rem;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
    #rb-breadcrumb span,
    #rb-breadcrumb a { display:block; color:#777; padding:1rem 1rem 1rem 0.6rem; text-decoration:none; }
    #rb-breadcrumb a:before,
    #rb-breadcrumb span:before { content:" › "; padding:0 0.4rem; color:#ccc; }
    #rb-breadcrumb a:hover { background-color: #E5E5E5; }
    #rb-breadcrumb .active { color:#369; font-weight:bold; }


/* NAV SIDE */

#rb-nav-side { background-color:#F5F5F5; position:relative; width:250px;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
    #rb-nav-side .sub-nav { margin-left:1rem; }

#rb-nav-footer { background-color:#F5F5F5; clear:both; display:flex; justify-content:center; margin-top:2rem; }
    #rb-nav-footer a { padding:0.4rem 1rem; }
    #rb-nav-footer .sub-nav { margin-left:1rem; }


/* LANDING PAGE */

.rb-landing-page { display:flex; margin:1rem 0; }
.rb-landing-page .link { flex-grow:1; }
.rb-landing-page a { background-color:#F5F5F5; display:block; margin:1rem; padding:1rem; text-align:center; text-decoration:none; }
.rb-landing-page a:hover { background-color:#369; color:#FFF; }


/* PLUGIN - SITEMAP */

.rb-sitemap { margin:1rem 0; }
.rb-sitemap .link { border-left:1px solid #EEE; margin-left:1rem; }
.rb-sitemap a { border-bottom:1px solid #EEE; display:inline-block; padding:0.4rem 1.2rem; }
.rb-sitemap a:hover { background-color:#EEE; text-decoration:none; }
.rb-sitemap a.active { background-color:#369; color:#FFF; }


/* mobiles */
@media all and (max-width: 37.5em) {
    #rb-nav .nav { flex-direction:column; margin:0; }
    #rb-nav .nav .logo a { float:left; }
    #rb-nav .nav .link { display:none; }

    #rb-nav .mobile-show .link { display:block; }
    #rb-nav .sub-nav { box-shadow:none; display:block; padding:0 0 0 1rem; position:unset; width:100%; }

    #rb-breadcrumb { padding-left:0; margin:0; }

    .rb-container { display:block; }
    #rb-nav-side { width:100%; }
}
